@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full;
  @apply w-full;
  @apply font-montserrat;
  @apply scroll-smooth;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2e3a;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #46495a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #63677a;
}
